In [5]:
!pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-win_amd64.whl (10.4 MB)
     --------------------------------------- 10.4/10.4 MB 13.4 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2020.1 in c:\users\amoor\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\amoor\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\amoor\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in c:\users\amoor\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pandas
Successfully installed pandas-1.5.3

[notice] A new release of pip available: 22.3 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
# todo: understand how to use pandas
# todo: map the swf data to pandas dataframe
# todo: extract the first two features.

In [5]:
import pandas as pd
import subprocess

from urllib.request import urlretrieve 
urlretrieve('https://raw.githubusercontent.com/DIR-LAB/deep-batch-scheduler/master/data/SDSC-SP2-1998-4.2-cln.swf')

('C:\\Users\\amoor\\AppData\\Local\\Temp\\tmpllkowjbz',
 <http.client.HTTPMessage at 0x23c5fb63ca0>)

In [ ]:
#formats content into lines
format = swf_content.decode('utf-8').split('/n')

In [13]:
data = []

In [23]:
data = []

with open(r"C:\Users\amoor\OneDrive\Desktop\School\Spring 2023\Research\Job Scheduling Data\data\data\SDSC-SP2-1998-4.2-cln.swf") as f:
    for line in f:
    #Starts at where the data begins in the swf file
        if not line.startswith(';'):
            data.append(line.split())
            
           # x = int(line.split()[1].split('')[0])
           # y = int(line.split()[1].split('')[0])
        
           # data.append({'text': text, 'x': x, 'y': y})
            
           # print(line.split())
    print(data[0])

['11', '566129', '5', '28826', '1', '27758', '-1', '1', '28800', '-1', '5', '153', '75', '18180', '3', '-1', '-1', '-1']

In [26]:

# tableau 
df = pd.DataFrame(data, columns=["Job Number", "Submit Time", "Wait Time", "Run Time", "Allocated Processors", "Average CPU time used", "Used Memory", "Requested Processors", "Requested Time", "Requested Memory", "Status", "User ID", "Group ID", "Application Number", "Queue Number", "Partition Number", "Preceding Job Number", "Think Time from Preceding Job"])
df

,Job Number,Submit Time,Wait Time,Run Time,Allocated Processors,Average CPU time used,Used Memory,Requested Processors,Requested Time,Requested Memory,Status,User ID,Group ID,Application Number,Queue Number,Partition Number,Preceding Job Number,Think Time from Preceding Job
0,11,566129,5,28826,1,27758,-1,1,28800,-1,5,153,75,18180,3,-1,-1,-1
1,12,566290,532,26171,1,24666,-1,1,28800,-1,1,153,75,18184,3,-1,-1,-1
2,13,567314,15757,8071,8,7334,-1,8,64800,-1,1,150,6,13592,4,-1,-1,-1
3,14,571164,21568,64832,32,44134,-1,32,64800,-1,5,6,6,13602,3,-1,-1,-1
4,15,574294,4647,64384,7,58033,-1,7,64800,-1,1,151,75,13607,3,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59710,73492,63562563,11,71,4,40.25,-1,4,1200,-1,1,3,74,56633,1,-1,-1,-1
59711,73493,63562705,24,75,4,42.00,-1,4,1200,-1,1,3,74,56636,1,-1,-1,-1
59712,73494,63563061,11,72,4,40.25,-1,4,1200,-1,1,3,74,56638,1,-1,-1,-1
59713,73495,63563626,6,77,4,39.75,-1,4,1200,-1,1,3,74,56641,1,-1,-1,-1
59714,73496,63582293,14,6605,1,6479,-1,1,7200,-1,1,252,91,53276,3,-1,-1,-1

In [ ]:
#Access 500th job (job number) and previous job of the same user (UserID)

In [ ]:
#Questions:
#why not create this in Perl or C?